<section class="intro-content">
	<h1>标签页</h1>
	<p>分隔内容上有关联但属于不同类别的数据集合。</p>
</section>

<div class="example-block">
<div class="bs-example">
	<div class="tabs-container">
		<div class="tab-list">
			<ul>
				<li ui-sref-active="active"><a ui-sref="tabs">标签1</a></li>
				<li ui-sref-active="active"><a ui-sref="tabsTwo">标签2</a></li>
			</ul>
		</div>
		<div class="tab-content">
			内容区域2
		</div>
	</div>
</div>

<div class="highlight" hljs hljs-language="html">
<div class="tabs-container">
  <div class="tab-list">
    <ul>
      <li ui-sref-active="active"><a ui-sref="tabs">标签1</a></li>
      <li ui-sref-active="active"><a ui-sref="tabsTwo">标签2</a></li>
    </ul>
  </div>
  <div class="tab-content">
    内容区域2
  </div>
</div>
</div>
</div>