{
  "plugins": [
    [
      "transform-imports",
      {
        "fancyui": {
          "transform": "fancyui/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "presets": ["es2015"]
}
