<section class="intro-content">
	<h1>警告框</h1>
	<p>警告框组件通过提供一些灵活的预定义消息，为常见的用户动作提供反馈消息。</p>
</section>

<div class="example-block">
<div class="bs-example" data-example-id="simple-alerts">
	<div class="alert alert-success" role="alert">
		Jenkins会自动的从svn或gif上面获取最新的代码，可以自动化（定时或事件触发）地执行某荐任务，比如编译程序、打包程序、自动发布等等。
	</div>
	<div class="alert alert-info" role="alert">
		Jenkins会自动的从svn或gif上面获取最新的代码，可以自动化（定时或事件触发）地执行某荐任务，比如编译程序、打包程序、自动发布等等。
	</div>
	<div class="alert alert-warning" role="alert">
		Jenkins会自动的从svn或gif上面获取最新的代码，可以自动化（定时或事件触发）地执行某荐任务，比如编译程序、打包程序、自动发布等等。
	</div>
	<div class="alert alert-danger" role="alert">
		Jenkins会自动的从svn或gif上面获取最新的代码，可以自动化（定时或事件触发）地执行某荐任务，比如编译程序、打包程序、自动发布等等。
	</div>
</div>

<div class="highlight" hljs hljs-language="html">
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
</div>
</div>