<section class="intro-content">
	<h1>上下文颜色</h1>
	<p></p>
</section>

<div class="example-block">
<div class="bs-example" data-example-id="contextual-colors-helpers"><p class="text-muted">Fusce dapibus, tellus ac
	cursus commodo, tortor mauris nibh.</p>
	<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
	<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
	<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
</div>

<div class="highlight" hljs hljs-language="html">
<p class="text-muted">...</p>
<p class="text-primary">...</p>
<p class="text-success">...</p>
<p class="text-info">...</p>
<p class="text-warning">...</p>
<p class="text-danger">...</p>
</div>
</div>