<section class="intro-content">
	<h1 translate='{{vm.$state.current.name}}'></h1>
	<p>XXXXXXXXX</p>
</section>

<section class="intro-content">
	<h2>{{'Install' | translate}}</h2>
	<p>xxxxxxxx</p>
</section>

<div class="example-block">
<div class="highlight" hljs hljs-language="bash">
npm install fancyui --save</div>
</div>

<section class="intro-content">
	<h2>{{'Inject_Module' | translate}}</h2>
	<p>XXXX</p>
</section>

<div class="example-block">
	<div class="highlight no-border" hljs hljs-language="javascript">
		XXX.js 代码
	</div>
</div>

<!--示例-->
<h2>{{'Example'|translate}}</h2>
<div class="example-block">
	<div class="bs-example pop-confirm-example">
		<f-navmenu></f-navmenu>
	</div>
</div>

<!--基础用法-->
<h2>{{'Basic_Usage'|translate}}</h2>
<h3>View</h3>
<div class="example-block">
<div class="highlight no-border" hljs hljs-language="html">
</div>
</div>

<h3>controller</h3>

<div class="example-block">
<div class="highlight no-border" hljs hljs-language="javascript">
controller
</div>
</div>
