<div class="bp-popover">
	<div class="bp-popover-content">
		<div class="bp-popover-arrow"></div>
		<div class="bp-popover-inner">
			<div>
				<div class="bp-popover-inner-content">
					<div class="bp-popover-message">
						<div class="bp-popover-message-title">{{title}}</div>
					</div>
					<div class="bp-popover-buttons">
						<button type="button" class="btn bp-btn-primary btn-sm" ng-click="confirm()"><span>{{tokText || '确定'}}</span></button>
						<button type="button" class="btn bp-btn-default btn-sm" ng-click="cancel()"><span>{{cancelTex || '取消'}}</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
