<div class="ant-popover ant-popover-placement-top"
     style="left: 259.312px; top: 414.562px; transform-origin: 50% 96px 0px;">
  <div class="ant-popover-content">
    <div class="ant-popover-arrow"></div>
    <div class="ant-popover-inner">
      <div>
        <div class="ant-popover-inner-content">
          <div class="ant-popover-message"><i class="anticon anticon-exclamation-circle "></i>
            <div class="ant-popover-message-title">Are you sure delete this task?</div>
          </div>
          <div class="ant-popover-buttons">
            <button type="button" class="ant-btn ant-btn-ghost ant-btn-sm"><span>No</span></button>
            <button type="button" class="ant-btn ant-btn-primary ant-btn-sm"><span>Yes</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
