.ffan-rate {
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	height: 30px;
	line-height: 30px;
	list-style: none;
	li {
		padding: 0 4px;
		float: left;
		font-size: 22px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		.glyphicon {
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		.glyphicon-star-empty {
			color: #c6d1de;
		}
		.glyphicon-star {
			//color: rgb(247, 186, 42);
		}
		&:hover {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}
.rate-text {
	display: inline-block;
	vertical-align: middle;
}