<section class="intro-content change-log">
	<h1>更新日志</h1>
	<ul class="timeline">
		<li>
			<h3>2.1.14</h3>
			<p><em>2017-3-21</em></p>
			<ul>
				<li>Fix select remote-method issue</li>
				<li>Fix loading not text-align in safari</li>
			</ul>
		</li>

		<li>
			<h3>2.1.8</h3>
			<p><em>2017-1-20</em></p>
			<ul>
				<li>Fix Progress default value bug. unit test 95%</li>
				<li>Fix Menu angular-santize dependency issue</li>
				<li>Fix Badge display issue</li>
				<li>Fix Transfer search issue</li>
				<li>Add CheckBoxTree default-collapsed</li>
			</ul>
		</li>

		<li>
			<h3>2.1.7</h3>
			<p><em>2017-1-7</em></p>
			<ul>
				<li>Add select, menu, upload  </li>
			</ul>
		</li>

		<li>
			<h3>2.0.1</h3>
			<p><em>2016-11-29</em></p>
			<ul>
				<li>Fancyui 2.0.1 deploy</li>
			</ul>
		</li>
		
	</ul>
</section>