<section class="intro-content change-log">
	<h1>更新日志</h1>
	<ul class="timeline">
		<li>
			<h3>2.1.8</h3>
			<p><em>2017-1-20</em></p>
			<ul>
				<li>fix Progress default value bug. unit test 95%</li>
				<li>Menu angular-santize dependency issue</li>
				<li>add  CheckBoxTree default-collapsed</li>
			</ul>
		</li>

		<li>
			<h3>2.1.7</h3>
			<p><em>2017-1-7</em></p>
			<ul>
				<li>add select, menu, upload  </li>
			</ul>
		</li>

		<li>
			<h3>2.0.1</h3>
			<p><em>2016-11-29</em></p>
			<ul>
				<li>fancyui 2.0.1 deploy</li>
			</ul>
		</li>
		
	</ul>
</section>