<section class="intro-content">
	<h1 translate='{{vm.$state.current.name}}'></h1>
</section>

<section class="intro-content">
	<h2>{{'Install' | translate}}</h2>
	<p>{{'Install_FancyUI'|translate}}</p>
</section>

<div class="example-block">
<div class="highlight" hljs hljs-language="bash">
npm install fancyui --save
</div>
</div>

<section class="intro-content">
	<h2>{{'Inject_Module'|translate}}</h2>
</section>

<div class="example-block">
<div class="highlight no-border" hljs hljs-language="javascript">
import {Calendar} from 'fancyui';
export default angular.module('calendar', [
  Calendar.name
])
</div>
</div>

<h2>{{'Example'|translate}}</h2>
<section class="intro-content">
	<h3>{{'DefaultCalendar'|translate}}</h3>
</section>


<div class="example-block">
	<div class="bs-example calendar-example">
<f-calendar
	ng-model="vm.model"
	before-render="vm.beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
	on-time-set="vm.onSetTime(newDate,oldDate)"
	config="vm.dataConfig">
</f-calendar>		
	</div>
</div>
<h3>view</h3>
<div class="example-block">
<div hljs-no-escape class="highlight no-border" hljs hljs-language="html">
&lt;f-calendar
  ng-model="vm.model"
  on-time-set="vm.onSetTime(newDate,oldDate)"
  before-render="vm.beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
  config="vm.dataConfig"&gt;
&lt;/f-calendar&gt	</div>
</div>


<h3>controller</h3>
<div class="example-block">
<div class="highlight no-border" hljs hljs-language="javascript">
export default class CalendarController {
  constructor() {
    'ngInject';
    this.model = '2016-10-30 12:02:00';                        //默认时间
    this.dataConfig = {
      startView:'day',
      minuteStep: 20,
      modelType: 'YYYY-MM-DD HH:mm:ss',
      minView: 'minute'
    }
  }
  onSetTime(newDate, oldDate) {
    console.log('newDate', newDate);
    console.log('oldDate', oldDate);
  }
}</div>
</div>

<section class="intro-content">
	<h2>{{'Options'|translate}}</h2>
	<table class="demo-table">
		<thead>
			<tr>
				<th>{{'Param'|translate}}</th>
				<th>{{'Description'|translate}}</th>
				<th>{{'Type'|translate}}</th>
				<th>{{'Optional'|translate}}</th>
				<th>{{'DefaultValue'|translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ng-model</td>
				<td>model</td>
				<td>string</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<td>before-render</td>
				<td>{{'CalendarBeforeRender'|translate}}</td>
				<td>function</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<td>on-set-time</td>
				<td>{{'OnSetTime'|translate}}</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>config</td>
				<td>{{'SeeBelow'|translate}}</td>
				<td>object</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</section>


<section class="intro-content">
	<h2>config</h2>
	<table class="demo-table">
		<thead>
			<tr>
				<th>{{'Param'|translate}}</th>
				<th>{{'Description'|translate}}</th>
				<th>{{'Type'|translate}}</th>
				<th>{{'Optional'|translate}}</th>
				<th>{{'DefaultValue'|translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>startView</td>
				<td>{{'StartView'|translate}}</td>
				<td>string</td>
				<td>'minute'/'hour'/'day'/'month'/'year'</td>
				<td>'day'</td>
			</tr>
			<tr>
				<td>minView</td>
				<td>{{'MinView'|translate}}</td>
				<td>string</td>
				<td>'minute'/'hour'/'day'/'month'/'year'</td>
				<td>'minute'</td>
			</tr>
			<tr>
				<td>minuteStep</td>
				<td>{{'MinuteStep'|translate}}</td>
				<td>number</td>
				<td>1-60</td>
				<td>1</td>
			</tr>
			<tr>
				<td>modelType</td>
				<td>{{'ModelType'|translate}}</td>
				<td>string</td>
				<td>'Date'/'moment'/'milliseconds'</td>
				<td>'Date'</td>
			</tr>
			
		</tbody>
	</table>
</section>
