<section class="intro-content">
	<h1 translate='{{vm.$state.current.name}}'></h1>
	<p>{{'PanelDes'|translate}}</p>
</section>


<div class="example-block">
<div class="bs-example">
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="{{vm.img}}">
				<div class="caption">
					<p>google_containers</p>
					<p>
						<span class="glyphicon glyphicon-download-alt"></span>
						<span>1255574</span>
						<button class="btn btn-default btn-sm">部署</button>
					</p>
				</div>
				<span class="glyphicon glyphicon-star-empty"></span>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="{{vm.img}}">
				<div class="caption">
					<p>google_containers</p>
					<p>
						<span class="glyphicon glyphicon-download-alt"></span>
						<span>1255574</span>
						<button class="btn btn-default btn-sm">部署</button>
					</p>
				</div>
				<span class="glyphicon glyphicon-star-empty"></span>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="{{vm.img}}">
				<div class="caption">
					<p>google_containers</p>
					<p>
						<span class="glyphicon glyphicon-download-alt"></span>
						<span>1255574</span>
						<button class="btn btn-default btn-sm">部署</button>
					</p>
				</div>
				<span class="glyphicon glyphicon-star-empty"></span>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="{{vm.img}}">
				<div class="caption">
					<p>google_containers</p>
					<p>
						<span class="glyphicon glyphicon-download-alt"></span>
						<span>1255574</span>
						<button class="btn btn-default btn-sm">部署</button>
					</p>
				</div>
				<span class="glyphicon glyphicon-star-empty"></span>
			</div>
		</div>
	</div>
</div>

<div class="highlight" hljs hljs-language="html">
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="{{vm.img}}">
    <div class="caption">
      <p>google_containers</p>
      <p>
        <span class="glyphicon glyphicon-download-alt"></span>
        <span>1255574</span>
        <button class="btn btn-default btn-sm">部署</button>
      </p>
    </div>
  </div>
</div>
</div>
</div>