<div class="row">
  <div class="col-xs-5 start-datepicker" style="padding-right: 0">
    <bp-datepicker ng-model="vm.ngStartModel"
                   datepicker-options="vm.rangepickerOptions"></bp-datepicker>
  </div>
  <div class="col-xs-1 input-padding-left" style="text-align: center;padding-right: 0;max-width: 35px;line-height: 31px;">
    -
  </div>
  <div class="col-xs-5 input-padding-left">
    <bp-datepicker ng-model="vm.ngEndModel"
                   datepicker-options="vm.endTimeOptions"></bp-datepicker>
  </div>
</div>
