<h3>form-tpl</h3>
<section style="margin-top: 30px;">
  <div>
      <pre>
        <code class="language-html" ng-bind-html="vm.exampleHtml"></code>
      </pre>
  </div>
</section>
<h3>示例</h3>
<div class="bp-container" style="margin-top: 30px">
  <fieldset>
    <form class="form-horizontal" novalidate>
      <form-tpl form-config="vm.formConfig" model="vm.form"></form-tpl>
    </form>
  </fieldset>
  <div id="error"></div>


  <div class="text-center">
    <button class="btn bp-btn-primary"
            ng-repeat="btn in vm.btns"
            ng-click="vm.submitForm()">{{btn.name}}
    </button>
    <a class="btn bp-btn-default" ui-sref="list">返回列表</a>
  </div>
</div>


