<div ng-repeat="field in vm.formConfig.fields|filter:vm.hasType">
  <div class="form-group" ng-if="field.type === 'text'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <input class="form-control"
             type="text"
             name="text"
             ng-model="vm.model[field.name]"
             ng-required="field.validateRules.required"
             maxlength="{{field.validateRules.maxlength}}"
             minlength="{{field.validateRules.minlength}}"
             bp-field-error>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'textarea'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
                <textarea class="form-control"
                          ng-model="vm.model[field.name]"
                          ng-required="field.validateRules.required"
                          maxlength="{{field.validateRules.maxlength}}"
                          minlength="{{field.validateRules.minlength}}"
                          bp-field-error="{{field.errorMsgs}}"></textarea>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'richtext'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <text-angular name="{{vm.model[field.name]}}"
                    ng-model="vm.model[field.name]"
                    ng-required="field.validateRules.required"
                    maxlength="{{field.validateRules.maxlength}}"
                    minlength="{{field.validateRules.minlength}}"
                    bp-field-error>
        <p>Any <b>HTML</b> we put in-between the text-angular tags gets automatically put into the editor if there
          <strong style="font-size: 12pt;"><u><em>is not</em></u></strong> a value assigned to the ngModel.</p>

        <p>If there is a value assigned to the ngModel, it replaces any html here. To see this, uncomment the line
          at the bottom of demo.html</p>
      </text-angular>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'number'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <!-- 要把form传过去，
      不然在bpLargeThan指令的scope里取不到from（无法$eval出值），
        也就拿不到which指的数据, 无法实现监控-->
      <input
        class="form-control"
        type="number"
        name="{{field.name}}"
        ng-required="field.validateRules.required"
        bp-field-error="{{field.errorMsgs}}"
        bp-field-error-selector="{{field.selector}}"
        bp-large-than="field.validateRules.largeThan"
        bp-large-than-form="vm.model"
        max="{{field.validateRules.max}}"
        min="{{field.validateRules.min}}"
        ng-model="vm.model[field.name]">
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'select'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <select class="form-control" ng-model="vm.model[field.name]"
              ng-required="field.validateRules.required"
              bp-field-error
              ng-options="option.value as option.text for option in field.options"></select>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'uiselect'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <ui-select
        bp-field-error
        ng-model="vm.model[field.name]"
        ng-required="field.validateRules.required"
        theme="bootstrap">
        <ui-select-match>
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="option.value as option in value.options | filter: $select.search"
                           refresh='vm.refreshOptions(field.url ,$select.search)'
                           refresh-delay="500">
          {{option.text}}
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'Typeahead'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <input type="text"
             ng-required="field.validateRules.required"
             bp-field-error
             ng-model="vm.model[field.name]"
             uib-typeahead="option.value as option.text for option in vm.refreshOptions(field.url, $viewValue) | filter:{text:$viewValue}"
             uib-typeahead-no-results="noResults"
             class="form-control">
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'date'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <div class="dropdown">
        <a class="dropdown-toggle"
           id="_dropdown{{field.name}}"
           role="button"
           data-toggle="dropdown"
           data-target="#"
           href="javascript:;">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   data-ng-model="vm.model[field.name]">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </span>
          </div>
        </a>
        <ul class="dropdown-menu"
            role="menu"
            aria-labelledby="dLabel">
          <datetimepicker
            data-ng-model="vm.model[field.name]"
            name="{{field.name}}"
            ng-required="field.validateRules.required"
            bp-field-error="{{field.errorMsgs}}"
            bp-large-than="field.validateRules.largeThan"
            bp-large-than-form="vm.model"
            data-datetimepicker-config="{ dropdownSelector: '#_dropdown'+field.name ,modelType: 'YYYY-MM-DD HH:mm:ss'}"/>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'daterange'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <bp-rangepicker ng-start-model="vm.model[field.name][0]"
                      ng-end-model="vm.model[field.name][1]"
                      rangepicker-options="vm.datepickerOption"></bp-rangepicker>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'radio'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8" style="padding-top: 7px">
      <label ng-repeat="option in field.options" style="margin-right: 15px">
        <input type="radio"
               name="{{vm.model[field.name]}}"
               ng-model="vm.model[field.name]"
               value="{{option.value}}"/> {{option.text}}
      </label>
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'checkbox'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8" style="padding-top: 7px">
      <input type="checkbox"
             ng-model="vm.model[field.name]"
             name="{{vm.model[field.name]}}"
             ng-true-value="1"
             ng-false-value="0">
    </div>
  </div>
  <div class="form-group" ng-if="field.type === 'image'">
    <label for="" class="col-sm-2 control-label">
      <span class="required-star" ng-if="field.validateRules.required">*</span>
      {{field.displayName}}
    </label>

    <div class="col-sm-8">
      <figure class="mypic-space">
        <img ngf-src="vm.preview" style="width:50px;height:50px">

        <p>
          <button class="btn bp-btn-primary"
                  ngf-select="vm.uploadFile($file, $invalidFiles)"
                  accept="image/*"
                  ngf-max-height="60"
                  ngf-max-width="60"
                  ngf-max-size="1MB"
                  class="btn btn-default btn-sm"
                  type="button">上传图片
          </button>
          <!--  <small>（ 限JPG,PNG,GIF格式，80*80PX ）</small> -->
        </p>
      </figure>
    </div>
  </div>
</div>
