<h3>Alert</h3>
<div class="text-muted">alert, confirm的替代</div>
<section>
  <div>
      <pre>
        <code class="language-html" ng-bind-html="vm.exampleHtml"></code>
      </pre>
  </div>
</section>
<h3>示例</h3>
<section>
  <div class="row">
    <div class="col-xs-4">
      <button class="btn btn-default" ng-click="myAlert()">Alert</button>
      <button class="btn btn-default" ng-click="myAlertWithHint()">Alert with hint</button>
      <button class="btn btn-default" ng-click="myConfirm()">Confirm</button>
    </div>
  </div>
</section>
