<div class="commercial">
  <div class="commercial-left">
    <div class="commercial-left-stores">
      <span>{{controller.leftTitle}}</span>
      <input type="text"
             class="form-control"
             placeholder="{{controller.leftPlaceholder}}"
             data-ng-change="controller.innerChange()"
             data-ng-model="controller.leftSearchValue"
             data-ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
      />
    </div>
    <div class="commercial-left-select">
      <select  name="multipleSelect"
               class="form-control"
               multiple
               data-ng-model="controller.leftValue">
        <option data-ng-repeat="option in controller.sourceData"
                value="{{option.key}}"
                title="{{option.value}}">{{option.value}}
        </option>
      </select>
    </div>
  </div>
  <div class="commercial-center">
    <div class="commercial-center-btn">
      <div class="commercial-center-btn-add">
        <button type="button"
                class="btn bp-btn-primary"
                data-ng-click="controller.add()"
                data-ng-show="controller.addOperation"
                data-ng-disabled="(controller.curSelectedStores).length==0" >
          {{controller.addOperation}}
        </button>
        <button type="button"
                class="btn bp-btn-primary"
                data-ng-click="controller.addAll()"
                data-ng-show="controller.addAllOperation"
                data-ng-disabled="(controller.stores).length==0">
          {{controller.addAllOperation}}
        </button>
      </div>
      <div class="commercial-center-btn-del">
        <button type="button"
                class="btn bp-btn-default"
                data-ng-click="controller.del()"
                data-ng-show="controller.delOperation"
                data-ng-disabled="(controller.selectedStores).length==0">
          {{controller.delOperation}}
        </button>
        <button type="button"
                class="btn bp-btn-default"
                data-ng-click="controller.delAll()"
                data-ng-show="controller.delAllOperation"
                data-ng-disabled="(controller.allSelectedStores).length==0">
          {{controller.delAllOperation}}
        </button>
      </div>
    </div>
  </div>

  <div class="commercial-right">
    <div class="commercial-right-wordcount">
      <p><span>{{controller.rightTitle}}</span></p>
      <span>已选择{{(controller.allSelectedStores).length || 0}}个</span>
      <input type="text"
             class="form-control"
             placeholder="{{controller.rightPlaceholder}}"
             data-ng-change="controller.searchStore()"
             data-ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
             data-ng-model="controller.filterStore.storeName">
    </div>
    <div class="commercial-right-stores">
      <select  name="multipleSelect"
               class="form-control"
               multiple
               data-ng-options="option.storeViewName for option in controller.allSelectedStores track by option.storeId"
               data-ng-model="controller.selectedStores">
      </select>
    </div>
  </div>

</div>
