.commercial{
  margin: 2px 0 0 10px;
  padding: 5px;
  width: 830px;
  background-color: #E7EDEE;
  min-height: 300px;
  border-radius: 2px;
  select{
    padding: 7px 15px;
    min-height: 223px;
    width: 340px;
    option{
      padding: 5px;
    }
  }

  .commercial-left{
    border-radius: 2px;
    float: left;
    min-height: 286px;
    width: 350px;
    background-color: white;
    .commercial-left-stores{
      padding: 5px;
    }
    .commercial-left-select {
      padding: 5px;
    }
  }

  .commercial-center{
    float: left;
    min-height: 300px;
    width:118px;

    .commercial-center-btn{
      button{
        margin-bottom: 5px;
      }
      padding: 60px 0 0 20px;
      .commercial-center-btn-add{
        margin-bottom: 20px;
      }
    }
  }

  .commercial-right{
    border-radius: 2px;
    float: left;
    min-height: 286px;
    width: 350px;
    background-color: white;
    .commercial-right-wordcount{
      padding: 10px;
      border-bottom: 1px solid #ccc;
      margin: 0 12px 10px 5px
    }

    .commercial-right-stores{
      padding-left: 5px;
    }
  }

}